#content{
	padding: 0;
}
.menu-head{
	font-size: 22px;
	padding: 5px;
	border-top:2px solid #000;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	border-left:2px solid #000;
}
.menu-sub-head{
	font-size: 18px;
	padding: 5px;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	border-left:2px solid #000;
}
.menu-content{
	font-size: 14px;
	padding: 5px;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	border-left:2px solid #000;
}
.menu-content .block-menu{
	margin-bottom: 5px;
}
.menu-content .block-menu .header-menu{
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #000;
	margin-bottom: 3px;
}
.menu-content .block-menu .node-menu{
	line-height: 21px;
}
.glyphicon-off{
	float: right;
}
.glyphicon-bell{
	float: right;
}
.menu-left{
	background-color:#ddd;
}
.main-head{
	font-size: 22px;
	padding: 5px;
	border-top:2px solid #000;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
}
.main-sub-head{
	font-size: 18px;
	padding: 4px;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
}
.main-body{
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	min-height: 351px;
}